Binaries
DerivedDataCache
Intermediate
Saved
Content\PolygonCity
Content\Retro_8Bit_Sounds
Content\AnimStarterPack
Content\StarterContent
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace